* { margin: 0; padding: 0;}
a { text-decoration: none;}

.clearfix { overflow:auto }

p { margin-bottom: 15px;}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

.top-bar {
    width: 1000px;
    background-color: black;
    
}

.top-bar-links {
    float: left;
}

.top-bar-links ul {
    list-style: none;
    margin: 15px;
}

.top-bar-links ul a{
    padding: 0 10px;
    display: inline-block;
    border: 1px solid white;
}

.top-bar-links ul a {
    color: white;
}

.top-bar-links a:hover {
    color: brown;
}

.site-search  {
    margin: 15px;
    float: right;
}

header .logo { 
    margin-top: 35px;
    margin-left: 20px;
    float:left;
}

header .logo h1 {
    font-variant: small-caps;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
}

header .socialmedia { 
    float: right; 
    margin-top: 50px;
    margin-right: 20px;
}

header .socialmedia ul a {
    background: black;
    color: #fff;
    padding: 6px;
    display: inline-block;
    border-radius: 25px;
    margin-left: 5px;
}

header .socialmedia ul a:hover {
    background: brown;
}

nav{
    background: black;
    text-align: center;
    margin-top: 30px;
}

nav ul {
    list-style: none;
}

nav ul a {
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

nav ul a:hover {
    color: brown;
}

div.introduct {
    width: 970px;
    margin: 15px;
    margin-bottom: 0;
}

.introductimage {
    float: right;
    width: 410px;
}


.introducttxt {
     width: 590px;
     float: left;
     margin-top: -350px;
}

div.introducttxt h1 {
    font-size: 75px;
    text-transform: uppercase;
}

div.introducttxt button {
    text-transform: uppercase;
    float: left;
    margin: 15px 2px;
  
}

div.introducttxt button:hover {
    background: brown;
}

div.homecontent {
    width: 1000px;
    background: #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

div.homecolo {
    width: 313.333px;
    float: left;
    margin-left: 15px;
} 

div.homecolo h2 {
    margin: 30px 0 30px 0;
    font-size: 28px;
}

div.homecolo img {
    width: 313px;
}


div.services img {
    width: 64px;
    margin-right: 15px;
    float: left;
}

div.services p {
    margin-top: 0;
}

div.services {
    margin-bottom: 24px;
}


footer {
    width: 1000px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 257px;
}

div.footercolo {
    width: 231.25px;
    float: left;
    margin-left: 15px;
    border-top: solid black;
}

div.footercolo h4 {
    margin-top: 20px;
}

div.footercolo p {
    margin-top: 25px;
}

ul.links {
    margin-top: 25px;
    list-style: none;
}

ul.links li a {
    display: block;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    color: black;
}

ul.links li a:hover {
    color: brown;
}

form.contact input, form.contact textarea {
    background: #eee;
    padding: 10px;
    width: 221.25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: inherit;
    margin-top: 25px;

}

 form.contact textarea {
     height: 100px;
 }

 form.contact button {
     background: #eee;
     color: black;
     border-radius: 5px;
     border: none;
     padding: 10px 20px;
     font-size: 16px;
     font-family: inherit;
     margin-bottom: 10px;
 }

 div.copyrights {
     width: 1000px;
     background: #eee;
     float: left;
     margin-left: 260px;
 }

 div.rights, div.author {
     padding: 20px;
 }


 div.rights {
     float: left;
 }